<h2>Welcome to Pizza Shop!!!</h2>

<div class="raw">

		<%@products.each do |product| %>
	<div class="col-md-3">
		<div>
     		<%=product.title%>
     	</div>
     	<div>
	    	<%=product.description%>
	    </div>
	    <div>
 		  	<img src="<%=product.path_to_image%>" height="100" width="100"/>
		</div>
		<div>
	    	Size:<%=product.size%>cm
   		</div>
   		<div>
   			Price:<%=product.price%>
 	    </div>
 	    <div>
 	    	Veg:<%=product.is_veg%>
 		</div>
 		  	Spicy:<%=product.is_spicy%>
 		<div>
 		  	Best Offer:<%=product.is_best_offer%>
 		</div>

 		<button id="<%=product.id%>" class="btn btn-sm btn-success" onClick="add_to_cart(<%=product.id%>)">Add to Cart</button>

 	</div>

 	 <%end%>

 </div>

<script>

</script>