<h2>Welcome to Pizza Shop!!!</h2>

<div class="raw">

		<%@products.each do |product| %>
	<div class="col-md-3">
		<div>
     		<%=product.title%>
     	</div>
     	<div>
	    	<%=product.description%>
	    </div>
	    <div>
 		  	<img src="<%=product.path_to_image%>" height="100" width="100"/>
		</div>
		<div>
	    	Size:<%=product.size%>cm
   		</div>
   		<div>
   			Price:<%=product.price%>
 	    </div>
 	    <div>
 	    	Veg:<%=product.is_veg%>
 		</div>
 		  	Spicy:<%=product.is_spicy%>
 		<div>
 		  	Best Offer:<%=product.is_best_offer%>
 		</div>

 		<button id="<%=product.id%>" class="btn btn-sm btn-success" onClick="add_to_cart(<%=product.id%>)">Add to Cart</button>

 	</div>

 	 <%end%>

 </div>
 <div class="clearfix"></div><p></p>

<script>

function add_to_cart(id) {
   
   var count = window.localStorage.getItem("product_" + id);
   count = count * 1 + 1; 
   window.localStorage.setItem("product_" + id, count);	
   alert("Added to Cart Product_" + count);

   total_prods = total_prods_in_cart();
   show_cart(total_prods);
   update_input_orders();
  
  } //function

 function total_prods_in_cart() {
  
     var total_prods = 0;
     for (var i = 0; i < localStorage.length; i++) {
	
       var key = window.localStorage.key(i);
       var value = window.localStorage.getItem(key);

         if (value) {
         	
         	total_prods = total_prods + (value * 1);
         }
	}//for
	return total_prods;
} // function

function show_cart(total_prods) {
     
	$('.totalCart').val("Cart (" + total_prods * 1 + ")");
  
} // function


function get_orders() {

 var orders = "";
     for (var i = 0; i < localStorage.length; i++) {
	
       var key = window.localStorage.key(i);
       var value = window.localStorage.getItem(key);

         if (value.indexOf("product_") != 0) {
         	
         	orders = orders + key + "=" + value + ",";
         }
	}//for
	orders = orders.slice(0, -1);
	$('.test').val(orders);
	return orders;

} // function

function update_input_orders() {

    orders = get_orders();
   $('#orders').val(orders);

}






</script>